<div class="dashboard">
  <page-header />
  <engagement-number @engagementNumber={{engagementNumber}} />
  <engagement-graph @engagementNumber={{engagementNumber}} />
</div>

<div class="background">
  <bhag-background />
</div>
