<div class="dashboard">
  <div class="dashboard__main-title">
    <h1>Engagement Dashboard</h1>
  </div>

  <div class="dashboard__main-number">
    <engagement-number />
  </div>

  <engagement-graph />
</div>
