<div class="dashboard">
  <div class="dashboard__main-title">
    <h1>Engagement Dashboard</h1>
    </div>
  <div class="dashboard__main-number">
    <h2>123678</h2>
  </div>
  <div class="dashboard__sub-numbers">
    <div class="dashboard__sub-numbers--graph"></div>
    <div class="dashboard__sub-numbers--numbers">
      <div class="first-number">10000</div>
      <div class="first-number">11000</div>
      <div class="first-number">12000</div>
    </div>
  </div>
</div>

