<div class="dashboard__header">
  <div class="dashboard__header--left">
    <div class="logo">
      <img src="img/such-logo.svg" alt="">
    </div>
  </div>
  {{!-- <div class="dashboard__header--right">
    <h3>Engagement board Q-2 | 2017</h3>
  </div> --}}
</div>
