<div class="dashboard__sub-numbers">
    <div class="dashboard__sub-numbers--graph"></div>
    <div class="dashboard__sub-numbers--numbers">
        <svg class="chart">
            <g class="bar">
                <rect
                    height="19"
                    style="fill: #FFEFF4"
                    width="100%"
                    y="40"
                ></rect>

                <rect
                    height="19"
                    style="fill: #FF619A"
                    width="{{weightedEngagementNumber}}%"
                    y="40"
                ></rect>
            </g>

            <g>
                {{#each weightedMilestones key="@index" as |milestone|}}
                    <line
                        style="stroke: green; stroke-width: 1"
                        x1="{{milestone}}%"
                        x2="{{milestone}}%"
                        y1="0"
                        y2="100%"
                    ></line>
                {{/each}}
            </g>
        </svg>
    </div>
  </div>
