<div class="dashboard__sub-numbers">
    <div class="dashboard__sub-numbers--graph"></div>
    <div class="dashboard__sub-numbers--numbers">
        <svg viewBox="0 0 500 100" class="chart">
            <polyline
                fill="none"
                stroke="#0074d9"
                stroke-width="3"
                points={{chartPoints}}
            />
        </svg>
    </div>
  </div>
