<div class="dashboard__sub-numbers">
    <div class="dashboard__sub-numbers--graph"></div>
    <div class="dashboard__sub-numbers--numbers">
      <div class="first-number">10000</div>
      <div class="first-number">11000</div>
      <div class="first-number">12000</div>
    </div>
  </div>