@font-face {
    font-family: 'Futura';
    src: url('FuturaStd-Light.eot');
    src: url('FuturaStd-Light.eot?#iefix') format('embedded-opentype'),
         url('FuturaStd-Light.woff') format('woff'),
         url('FuturaStd-Light.ttf') format('truetype'),
         url('FuturaStd-Light.svg#FontName') format('svg');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Futura-medium';
    src: url('FuturaStd-Medium.eot');
    src: url('FuturaStd-Medium.eot?#iefix') format('embedded-opentype'),
         url('FuturaStd-Medium.woff') format('woff'),
         url('FuturaStd-Medium.ttf') format('truetype'),
         url('FuturaStd-Medium.svg#FontName') format('svg');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Futura-bold';
    src: url('FuturaStd-Bold.eot');
    src: url('FuturaStd-Bold.eot?#iefix') format('embedded-opentype'),
         url('FuturaStd-Bold.woff') format('woff'),
         url('FuturaStd-Bold.ttf') format('truetype'),
         url('FuturaStd-Bold.svg#FontName') format('svg');
    font-style: normal;
    font-weight: normal;
}


.dashboard__main-title {
  h1 {
    font-size: 96px;
    font-weight: 300;
    color: $color-primary;
    margin: 0;
    font-family: 'Futura-medium', sans-serif;
  }
}

.dashboard__main-number {
  h2 {
    font-size: 160px;
    font-weight: 800;
    color: $color-primary;
    margin: 40px 0 0 0;
    font-family: 'Futura-bold', sans-serif;

  }
}

.dashboard__header--right {
  h3 {
    font-size: 32px;
    font-weight: 300;
    color: $color-primary;
    font-family: 'Futura', sans-serif;
  }
}
