@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700');

.dashboard__main-title {
  h1 {
    font-size: 96px;
    font-weight: 300;
  }
}

.dashboard__main-number {
  h2 {
    font-size: 160px;
    font-weight: 700;
  }
}
