.dashboard__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 1em 0 1em;

  .dashboard__header--left {
    //align-self: flex-start;

  }

  .dashboard__header--right {
    //align-self: flex-end;
  }
}
