html {
    height: 100vh;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: $white;
    margin: 0;
    padding: 1em;
    height: 100%;

    >div {
        height: 100%;
    }
}

.dashboard {
    display: flex;
    flex-direction: column;
    height: 100%;

}

.dashboard__main-title {
    flex: 1;
    @include center-text;

}

.dashboard__main-number {
    flex: 1;
    @include center-text;
    justify-content: center;
}

.bhag-background {
  position: absolute;
  bottom: 0;
}
