html,
body {
    height: 100%;
    overflow-y: hidden;
}

html {
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: $white;
    margin: 0;
}

.logo {
  img {
    width: 70%;
  }
}

.dashboard {
    flex-direction: column;
    height: 100%;

}

.dashboard__main-title {
    @include center-text;

}

.dashboard__main-number {
    @include center-text;
    justify-content: center;
}

.bhag-background {
  position: absolute;
  bottom: 0;
  img {
    width: 70%;
  }
}
